//Copyright (C)2014-2024 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.9.02
//Part Number: GW5A-LV25MG121NC2/I1
//Device: GW5A-25
//Device Version: A
//Created Time: Tue 07 02 18:57:19 2024

IO_LOC "mx_d_o" C11;
IO_PORT "mx_d_o" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=2 BANK_VCCIO=3.3;
IO_LOC "mx_ck_o" D11;
IO_PORT "mx_ck_o" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=2 BANK_VCCIO=3.3;
IO_LOC "mx_cs_o" B11;
IO_PORT "mx_cs_o" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=2 BANK_VCCIO=3.3;
IO_LOC "btn1_i" H11;
IO_PORT "btn1_i" IO_TYPE=LVCMOS33 PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC "clk_brd_50_i" E2;
IO_PORT "clk_brd_50_i" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
