IO_LOC "clk_brd_50_i" E2;        // 50Mhz
IO_PORT "clk_brd_50_i" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;

IO_LOC "btn1_i" H11;
IO_PORT "btn1_i" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=OFF BANK_VCCIO=3.3;


// matrix connections
IO_LOC "mx_cs_o" B11;
IO_PORT "mx_cs_o" PULL_MODE=NONE IO_TYPE=LVCMOS33D
IO_LOC "mx_ck_o" D11;
IO_PORT "mx_ck_o" PULL_MODE=NONE IO_TYPE=LVCMOS33D
IO_LOC "mx_d_o" C11;
IO_PORT "mx_d_o" PULL_MODE=NONE IO_TYPE=LVCMOS33D
